body {
	background-color: #EEE;
}
.frame {
    background-color: #FFF;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}
.navbar-brand:hover, 
.navbar-nav  li a:hover {
      color: #1abc9c !important;
}
.navbar {
	background-color: #EEE;
}