<ul class="comments" id="comments">
  <h3><span class="glyphicon glyphicon-comment"></span> 评论区</h3>
  {% for comment in comments %}
  {% if comment.body %}
  <li class="comment frame shadow">
    <div class="comment-thumbnail">
    </div>    
    <div class="comment-content" name="stair-{{ comment.comment_index }}" id="{{ comment.comment_index }}L">
      <div class="comment-date">{{ moment(comment.timestamp).format('LLL') }}</div>
      <div class="comment-author">#{{ comment.comment_index }} {{ comment.author_name }}</div>    
      <div class="comment-body">
        {% if comment.disabled %}
        <p><i>该评论已被屏蔽</i></p>
        {% elif not comment.disabled %}
          {% if comment.body_html %}
            {{ comment.body_html | safe }}
          {% else %}
            {{ comment.body }}
          {% endif %}
        {% endif %}
      </div>  
      {% if comment.reply_to.body %}
      <div class="reply">
        <blockquote>
          <span>#{{ comment.reply_to.comment_index }} {{comment.reply_to.author_name}}</span><br />
          {{comment.reply_to.body}}
        </blockquote>
      </div>
      {% endif %}
      <a class="btn btn-primary btn-md" id="{{ comment.id }}" 
        href="{{ url_for('.reply',id=comment.id) }}">回复</a>
    </div>  
  </li>
  {% endif %}
  {% endfor %}
</ul>
